<h1><%= h @project.name %></h1>
<p class="project-desc"><%= h @project.description %></p>

<%
donations = Donation.where(["project_id = ?", @project.id])
sum = 0
percent = 0
donations.each do |donation|
  sum += donation.amount
end
percent = (sum.to_f / @project.target.to_f) * 100
%>
<p>WE HAVE $<%= sum %></p>
<p>WE WANT $<%= h @project.target.to_s %></p>
<p>That is <%= percent %>%</p>
<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="<%=percent%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=percent%>%;">
    <span class="sr-only"><%=percent%>% Complete</span>
  </div>
</div>

<form action="/donation" method="POST">
<input type="hidden" name="project" value="<%=@project.id%>">
<input type="number" name="amount" placeholder="donation" class="form-control">
<input type="submit" value="donate">
</form>